.main-title {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #E6005A;
    text-shadow: 3px 3px 0px #000000;
}

.main-title.-second {
    color: white;
    text-shadow: none;
    text-align: center;
}