.main-button {
    display: inline-block;
    background-color: #E6005A;
    padding:18px 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0px;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.main-button:hover {
    transform: scale(1.08);
}