.main-section {
    background-color: #E6005A;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid black;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #3A4042;
}

.main-section.-bgFirst {
    border-bottom: 10px solid black;
}

.main-section.-bgSecond {
    background-color: #E6005A;
    padding-bottom: 0px;
}

.main-section.-bdBlack {
    border-color:black;
}